.footer {
  padding-top: 68px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}

.footer__list {
  display: flex;
  width: 140px;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto 43px;
  list-style: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.footer__copyright {
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 81px;
  }
}

.footer__copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #d9d9d9;
}

.footer__copyright a {
  color: #d9d9d9;
  text-decoration: none;
}

