.header__container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__list li {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.header__list a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.header__burger {
  display: none;
  border: 0;
  padding: 0;
  background-color: inherit;
}
