html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: $main-color;
  font-size: 16px;
  line-height: 18px;
  font-family: $main-font;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 40px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1171px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: -0.03em;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 41px;
  }
}

.accent-less {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 28px;
  }
}
